
.header {
    display: flex;
    padding-top: 20px;
    width: 100%;
    justify-content: center;
}

.InputFrom {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 500px;
}

.movieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 12px;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;

    position: relative;
}

.card img{
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.card-overlay {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    text-align: center;

    position: absolute;
}

.Reitng-genre {
    display: flex;
    flex-direction: column;
}

.Title{
    margin: 0;
    padding: 5px;
    color: snow;
}

.Reitng {
    background-color: rgba(240, 248, 255, 0.439);
    border-radius: 30%;
    backdrop-filter: blur(4px);

    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px 5px;
}

.red {
    border-color: #2A3245;
}

